name: Testing
on:
  pull_request:
  push:
    branches:
    - master
jobs:
  test:
    name: Testing Swift Package and iOS app
    runs-on: macOS-latest
    steps:
      - name: Force XCode 11.3
        run: sudo xcode-select -switch /Applications/Xcode_11.3.app
      - name: working dir
        run: pwd
      - name: Testing Swift package
        run: exec ../scripts/test_swift_package.sh
      - name: Testing iOS app
        run: exec ../scripts/test_app.sh
